/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
@import "font-awesome";
@import "jquery.tagit";       // 記述の順番に注意
@import "tagit.ui-zendesk";   // こっちを後に書かないと、タグ削除（ x ）が表示されない

body{
  margin: 10px;
  background-color: #f0f0f0;
}
header{
  height: auto;
  padding: 10px;
  margin-bottom: 15px;
  border: 1px #AAA solid;
  background-color: #FFF;
}
.side{
  width: 234px;
  align-self: flex-start;
  padding: 10px;
  border: 1px #AAA solid;
  background-color: #FFF;
}
.main{
  width: calc(100% - 250px);
  margin-left: 10px;
  padding: 10px;
  border: 1px #AAA solid;
  background-color: #FFF;
}
//検索バー
.search-form{
  form{
    position: relative;
  }
  input[type="search"]{
    height: 1.96em;
    margin-right: 43px;
    width: 185px;
    &:focus{
      outline: 0;
    }
  }
  input[type="submit"]{
    position: absolute;
    left: 182px;
    outline: 0;
  }
}
//textフォーム
.text_area{
  width: 100%;
  padding: 5px;
}
//サイドバー
.side-table{
  td{
    border-top:1px solid #AAA;
  }
}

.balloon-base{
  position   : relative;

  &:hover{
    .balloon{
      display: inline;
    }
  }
}
.balloon{
  display: none;
  width: auto;
  position: absolute;
  left : 0.1em;
  bottom : 2.5em;
  padding: 2px 5px;
  background-color: #d5d5d5;
  font-size: 80%;
  color: #000;

  &:after{
    border-top: 12px solid #d5d5d5;  /* 吹き出し口の幅・色 */
    border-right: 10px solid transparent;     /* 吹き出し口の高さ１／２ */
    border-left: 10px solid transparent;  /* 吹き出し口の高さ１／２ */
    position: absolute;
    left : 0%;
    bottom: -12px;
    content: "";
  }
}

.FontAwesome{
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
}
.font-red{
  color: red;
}
.a-underline{
  text-decoration: none;
}
