/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
@import "font-awesome";

body{
  margin: 10px;
  background-color: #f0f0f0;
}
header{
  height: auto;
  padding: 10px;
  margin-bottom: 15px;
  border: 1px #AAA solid;
  background-color: #FFF;
}
.side{
  width: 234px;
  align-self: flex-start;
  padding: 10px;
  border: 1px #AAA solid;
  background-color: #FFF;
}
.main{
  width: calc(100% - 250px);
  margin-left: 10px;
  padding: 10px;
  border: 1px #AAA solid;
  background-color: #FFF;
}
//検索バー
.search{
  &-form{
    form{
      position: relative;
    }
    input[type="search"]{
      height: 1.96em;
      margin-right: 43px;
      width: 185px;
      &:focus{
        outline: 0;
      }
    }
    input[type="submit"]{
      position: absolute;
      left: 182px;
      outline: 0;
    }
  }
  &-area{
    background-color: #f5f5f5;
    border: 1px solid #AAA;
    padding: 10px;

    input[type="search"]{
      height: 1.6em;
      width: calc(100% - 10px);
    }
    div:not(.CloseUp){
      margin-bottom: 5px;
    }
  }
}
//textフォーム
.text_area{
  width: calc(100% - 10px);
  height: 5em;
  padding: 5px;
}
//サイドバー
.side-table{
  td{
    border-top:1px solid #AAA;
  }
}
.review-table{
  width: calc(100% - 10px);
}

.balloon-base{
  position   : relative;

  &:hover{
    .balloon{
      display: inline;
    }
  }
}
.balloon{
  display: none;
  width: auto;
  position: absolute;
  left : 0.1em;
  bottom : 2.5em;
  padding: 2px 5px;
  background-color: #d5d5d5;
  font-size: 80%;
  color: #000;

  &:after{
    border-top: 12px solid #d5d5d5;  /* 吹き出し口の幅・色 */
    border-right: 10px solid transparent;     /* 吹き出し口の高さ１／２ */
    border-left: 10px solid transparent;  /* 吹き出し口の高さ１／２ */
    position: absolute;
    left : 0%;
    bottom: -12px;
    content: "";
  }
}

.a-underline{
  text-decoration: none;
}
.star{
  img{
    margin-bottom: -5px;
  }
}

.coment{
  &-form{
    li{
      list-style: inside;
      input[type="radio"]{
        margin-left: -5px;
      }
      li{
        list-style: circle;
        ul{
          padding-left: 25px;
        }
        li{
          list-style-type: square;
        }
      }
    }
    ul{
      margin: 4px 0px;
    }
  }
  &-name{
    width: 100px;
  }
  &-body{
    width: 50%;
  }

  &-index{
    li{
      list-style: inside;
     ul{
        padding-left: 40px;
      }
      li{
        list-style: circle;
        ul{
          padding-left: 25px;
        }
        li{
          list-style-type: square;
        }
      }
    }
    ul{
      margin: 4px 0px;
      padding-left: 10px;
    }
  }
}
