/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
@import "font-awesome";
@import "jquery.tagit";       // 記述の順番に注意
@import "tagit.ui-zendesk";   // こっちを後に書かないと、タグ削除（ x ）が表示されない

body{
  margin: 10px;
  background-color: #f0f0f0;
}
header{
  height: auto;
  padding: 10px;
  margin-bottom: 15px;
  border: 1px #AAA solid;
  background-color: #FFF;
}
.side{
  width: 234px;
  align-self: flex-start;
  padding: 10px;
  border: 1px #AAA solid;
  background-color: #FFF;
}
.main{
  width: calc(100% - 250px);
  margin-left: 10px;
  padding: 10px;
  border: 1px #AAA solid;
  background-color: #FFF;
}

.search-form{
  form{
    position: relative;
  }
  input[type="search"]{
    height: 1.96em;
    margin-right: 43px;
    width: 185px;
    &:focus{
      outline: 0;
    }
  }
  input[type="submit"]{
    position: absolute;
    right: 4px;
    outline: 0;
  }
}

.side-table{
  td{
    border-top:1px solid #AAA;
  }
}